
<!DOCTYPE html>
<html>
<head>
  <title>Precis</title>
  <%= stylesheet_link_tag    "register" %>
  <%= javascript_include_tag "register" %>
  <%= csrf_meta_tags %>
</head>
<body>
hello
<%= yield :register %>

</body>
</html>
