#wrapper{
	width:900px;
	height:850px;
	margin:0px auto;
	border:1px dotted grey;
}

#left_section{
	width:420px;
	height:700px;
	float:left;
	margin-left:50px;
}

#right_section{
	width:420px;
	height:700px;
	float:right;
}
#wrapper h1{
	font-size:30px;
	color:grey;
	text-align: center;
	/*margin-bottom:20px;*/
}
#wrapper h3{
	font-size:20px;
	color:orange;
	text-align: center;
}
#wrapper h5{
	font-style: italic;
}
#images{

}
.field input{
/*	background-color:red;*/
	width:320px;
}
#images label{
	margin-left:0px;
	font-weight:bold;
/*	height:30px;*/
	/*vertical-align: center;*/
}
#images input{
	width:200px;
}
.actions{
	margin-top:15px;
	float:right;
	margin-right:20px;
}